@import './base.css';

#app {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: inline-block;
  justify-content: center;
  /* padding: 2rem; */
  font-weight: normal;
}

a,
.white {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 100%, 0.363);
  }
}

